.app {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.on-load {
    justify-content: center;
    padding: 5%;
}

.animal {
    flex-wrap: wrap;
    justify-content: center;
}

#og-btn {
    padding: 2%;
    margin: 20%;
    border-radius: 20px;
}

#rdm-btn {
    padding:2%;
    border-radius: 20px;
}

#name:hover {
    cursor: pointer;
}

#rdm-btn:hover, #og-btn:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.animal-img {
    max-width: 50%;
    /* height: auto; */
    max-height: 75%;
    flex: 0 1 10px;
    /* margin: 1%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.animal-detail {
    flex-wrap: wrap;
    flex: 0 1 30px;
    justify-content: right;
    border-style: dashed;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}